{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} {{ post['title'] }} {% endblock %}</h1>
{% endblock %}

{% block content %}
    <p>{{ post['content'] }}</p>
    <p><strong>Category:</strong> {{ post['category'] }}</p>
    <p><strong>Tags:</strong> {{ post['tags'] | join(', ') }}</p>
    <p><strong>Created At:</strong> {{ post['created_at'] }}</p>
    <p><strong>Updated At:</strong> {{ post['updated_at'] }}</p>
    </form>
    <form method="post" action="{{ url_for('post.like_post', post_id = post['id']) }}">
        <button type="submit">
            Like ({{ post['likes'] }})
        </button>
    </form>
    <hr>
    <form action="{{ url_for('post.index') }}" method="get" style="margin: 0;">
    <input type="submit" value="Back">
    </form>

{% endblock %}